Package: wtfos
Version: 0.3.4
Maintainer: Joonas Trussmann joonas@batman.ee
Description: wtfos meta package
Architecture: pigeon-glasses
Homepage: https://github.com/fpv-wtf/wtfos
Section: system
Depends: wtfos-system, wtfos-opkg-config, dinit 
